:root {
	--dt-gray-dark: #282a36;  /* Background */
	--dt-gray: #44475a;       /* Current Line & Selection */
	--dt-gray-light: #f8f8f2; /* Foreground */
	--dt-blue: #6272a4;       /* Comment */
	--dt-cyan: #8be9fd;
	--dt-green: #50fa7b;
	--dt-orange: #ffb86c;
	--dt-pink: #ff79c6;
	--dt-purple: #bd93f9;
	--dt-red: #f55;
	--dt-yellow: #f1fa8c;
	--highlight: #0073aa;        /* WP blue */
	--highlight-bright: #00b9eb; /* Bright blue */
	--highlight-light: #f7fcfe;  /* Light blue */
	--wp-dark: #23282d;
	--wp-gray: #e1e1e1;
}
