/*
Plugin Name: WSUWP Help Docs
Author: Adam Turner, WSU University Communication
Author URI: https://hrs.wsu.edu/
Version: 0.7.0
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@import "_variables.css";
@import "_syntax-highlighting.css";
@import "_page.css";
@import "_dashboard.css";
