/*
Plugin Name: WSUWP HRS Help
Author: Adam Turner, WSU University Communications
Author URI: https://hrs.wsu.edu/
Version: 0.2.1
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

// Import partials.
@import "partials/syntax-highlighting";

/***************
Define variables
***************/

$highlight: #0073aa; // WP blue
$highlight-bright: #00b9eb; // Bright blue
$highlight-light: #f7fcfe; // Light blue
$wp-dark: #23282d;
$wp-gray: #e1e1e1;

/************************
The Help Dashboard Widget
************************/

#wsuwp-help-welcome p:first-of-type:before {
	color: #82878c;
	content: "\f339";
	font: 400 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 5px 0 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	vertical-align: top;
}

#wsuwp-help-updated {
	border-top: 1px solid #eee;
}

.wsuwp-updated-help-documents-list li {
	color: #72777c;
	display: flex;
	justify-content: space-between;
}

#wsuwp-help-access {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;

	a {
		margin-left: 1em;
	}

	.wsu-cougar-head {
		height: 36px;
		margin-right: auto;
		width: auto;
	}
}

/**********************
The Help Dashboard Page
**********************/

.hrs-help-documents-wrap {
	background-color: #fff;
	border: 1px solid $wp-gray;
	border-radius: 3px;
	margin-top: 1.5em;
}

.hrs-help-documents-list {

	li {
		margin-bottom: 0;
	}

	a {
		border-left: 4px solid transparent;
		display: block;
		padding: 12px 10px;
		text-decoration: none;
	}

	li.current_page_item > a {
		background-color: lighten($wp-dark, 15%);
		border-color: $highlight;
		color: #fff;
		font-weight: 600;
		position: relative;

		&:after {
			border: 8px solid transparent;
			border-right-color: $highlight-light;
			content: " ";
			height: 0;
			margin-top: -8px;
			pointer-events: none;
			position: absolute;
			right: -1px;
			top: 50%;
			width: 0;
		}
	}

	li.current_page_parent > a {
		background-color: $highlight;
		color: #fff;
	}

	ul.children {
		list-style: none;
		position: absolute;
		top: -1000em;
		left: 160px;
		overflow: visible;
		word-wrap: break-word;

		a {
			color: #fff;

			&:hover,
			&:focus {
				color: $highlight-bright;
			}
		}
	}

	li.page_item_has_children.current_page_item,
	li.page_item_has_children.current_page_parent,
	li.page_item_has_children.current_page_ancestor {

		> a {
			background-color: $highlight;
			color: #fff;
		}

		ul.children {
			background-color: #32373c;
			bottom: auto;
			left: auto;
			position: relative;
			right: auto;
			top: auto;
			z-index: 3;
		}
	}

}

.hrs-help-documents {
	background-color: $highlight-light;
}

.hrs-help-document {
	font-size: 16px;
	min-height: 370px;
	padding: 0 1em 1.5em;

	p {
		font-size: inherit;
	}

	ul {
		list-style-type: disc;
		margin-left: 2em;
	}

	dd,
	li {
		line-height: 1.5;
	}

	.article-body {
		margin-top: 1.5em;
	}

	aside p,
	.aside p {
		font-size: 1.2rem;
	}

	.clarification {
		background-color: #fff;
		border: 1px solid $highlight;
		box-sizing: border-box;
		margin-bottom: 1.5rem;
		padding: 0 1.5rem;
	}

	aside,
	.aside,
	.clarification,
	figure {

		img {
			height: auto;
			max-width: 100%;
		}
	}

}

@media (min-width: 34em) {

	.hrs-help-documents-wrap {
		display: grid;
		grid-auto-rows: minmax(4rem, auto);
		grid-template-columns: minmax(100px, .25fr) minmax(300px, 1fr);
	}

	.hrs-help-document {
		font-size: 18px;
	}

	.comparison {
		display: grid;
		margin-bottom: 1.5em;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}

	.comparison-option:not(:last-child) {
		border-right: 3px solid $dt-orange;
		margin-right: 2em;
		padding-right: 2em;
	}

}

@media (min-width: 46em) {

	aside,
	.aside {
		float: right;
		margin-top: 0;
		margin-left: 2rem;
		max-width: 594px;
		width: 30vw;
	}

}
